<% if user_signed_in? %>
<h1>Welcome, <%= current_user.email %></h1>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Create a New Report', new_user_report_path(current_user), class: 'btn btn-primary' %>
  <%= link_to "Your Reports", user_reports_path(current_user), class: "btn btn-primary" %>
<% else %>
  <h1>Welcome to the WISC Report Writer</h1>
  <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
<% end %>
